<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <add name="JXCEntities" connectionString="metadata=res://*/JXCModel.csdl|res://*/JXCModel.ssdl|res://*/JXCModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=.;initial catalog=JXC;persist security info=True;user id=sa;password=12344321;multipleactiveresultsets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
</configuration>